*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "titreDuSite";
  src: url("fontTitle.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("fontRoboto.ttf");
}
body {
  font-family: "roboto";
  min-width: 415px;
}
/*----------style pour le header----------*/
header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 37%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100px;
  text-align: center;
}
header h1 {
  color: white;
  font-family: "titreDuSite";
  font-size: 5.5rem;
  font-weight: 100;
}
.sectionRS {
  position: absolute;
  top: 100px;
  align-self: center;
  width: 100%;
  height: 30px;
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 30%,
    rgba(0, 212, 255, 1) 100%
  );
}
.socialIcons {
  position: relative;
  top: -15px;
}
.socialIcons * {
  width: 1.5rem;
  height: 1.5rem;
  margin: 5px;
  filter: drop-shadow(0 0 0.9rem rgb(255, 255, 255));
}
.socialIcons *:hover {
  width: 1.5rem;
  height: 1.5rem;
  margin: 5px;
  filter: drop-shadow(0 0 0.9rem rgb(255, 255, 255));
  position: relative;
  top: -5px;
}
/*----------FIN de style pour le header----------*/
/*----------DEBUT du menu de navigation----------*/
#menuDuSite {
  width: 100%;
  height: 55px;
  background: rgb(2, 0, 36);
  
}
#menuDuSite ul {
  list-style: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
  top: 35px;
}
#menuDuSite ul li {
  margin-left: 10px;
  margin-right: 10px;
  padding: auto;
  display: inline-block;
  text-shadow: azure 0px 0px 10px;
  color: azure;
  font-family: "roboto";
}
#menuDuSite ul li:hover {
  margin-left: 10px;
  margin-right: 10px;
  padding: auto;
  display: inline-block;
  text-shadow: rgb(255, 255, 255) 0px 0px 15px;
  color: rgb(205, 253, 255);
  font-family: "roboto";
}
/*----------FIN du menu de navigation----------*/
